.flex1{
  display:flex;

 
  padding-bottom: 20px;
  gap:40px;
  margin-left: 200px;
  
}
.s1{
  color:blue;
  font-size: 50px;
  
}
.s2{
  background-color: white;
  stroke-width: 20px;
  padding: 50px;
  margin-bottom: 200px;
  width:200px;
  height:250px;
  
}
body{
  background-color: rgb(210, 210, 197);
}
#d{
  width:200px;
  height:20px;
  
}
.c1{
  color:white;
  background-color: blue;
  border:0px solid blue;      
  border-radius:5px;
}
.custom{
   width:100vw;
}
.c2{
  color:white;
  background-color: green;
  border:0px solid green;
  border-radius:5px;
} 
.t{
  
  background-color: white;
  padding-left:7px;
  padding-bottom: 10px;
}
.t1{
  width:97px;
  height:20px;
}
.t2{
  width:10px;
  height:20px;
  margin-left:10px;
}
.t3{
color:white;
background-color:green;
border: 10px solid green;
border-radius:5px;
width:300px;
height:30px;
}
#z{
  width:300px;
  height:20px;
}
.x{
  margin-top:120px;
}



