.flex-container {
    display: flex;
    flex-direction: column; /* Change to 'row' if you want items side by side */
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
}

.flex-item {
    width: 100%;
    max-width: 500px; /* Optional, to restrict the width */
    margin: 10px;
}

.hidden {
display:none;
}

.c1, .c2 {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px 0;
}
.opesity{
    opesity:0.5;
}
